.nav-bar{
    width: 100%;
    height: 70px;
    background-color: rgb(50, 50, 185);
    color: aliceblue;
}
.nav-bar ul{
    display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	/* gap: 20px; */
}
.nav-bar li{
    list-style-type: none;
    
}
.nav-bar a{
    display: block;
	padding: 20px;
	color: aliceblue;
    text-decoration: none;
}